@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<h3>Students</h3>
<ul>
    @for (int i = 0; i < ViewBag.Names.Length;i++){
        <li>@ViewBag.Names[i]</li>
    }
</ul>