
@{
    ViewBag.Title = "Index";
}

<a class="btn btn-primary" href="/">Home</a>
<a class="btn btn-success" href="/company/projects">Projects</a>
<a class="btn btn-danger" href="/company/team">Team</a>

<h2>Name:@Model.Name</h2>
<h2>Address: @Model.Address</h2>
<h2>Email: @Model.Email</h2>
<h2>Description:@Model.Descr</h2>
