
@{
    ViewBag.Title = "Projects";
}
<a class="btn btn-primary" href="/">Home</a>
<a class="btn btn-success" href="/company/projects">Projects</a>
<a class="btn btn-danger" href="/company/team">Team</a>
<h2>Projects</h2>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Client</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Title</td>
            <td>@p.Client</td>
        </tr>
    }
</table>