
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<h2>Login</h2>
<form>
    <input type="text" class="form-control" placeholder="Username" />
    <input type="password" class="form-control" placeholder="Password" />
    <a href="/Home/LoginSubmit" class="btn btn-success"> Login</a>
</form>
