
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="/home/create">Create</a>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var d in Model) { 
        <tr>
            <td>@d.Id</td>
            <td>@d.Name</td>
            <td><a class="btn btn-primary" href="/home/edit/@d.Id">Edit</a></td>
            <td><a class="btn btn-primary" href="/home/details/@d.Id">Details</a></td>
        </tr>
    }
</table>
